[Desktop Entry]
Type=Application
Exec=x-terminal-emulator -e sudo chroot-rescue-scan --pause
Icon=rescuetime
Terminal=false
Categories=X-antiX;
NoDisplay=false
Name=Chroot Rescue Scan
Name[pt_BR]=Reparador de Sistema Operacional Chroot Rescue Scan
Name[de]=»Chroot Rescue-Scan« Systemreparatur
Name[it]=Scansione di salvataggio di Chroot
Name[af]=Chroot-reddingskandering
Name[am]=Chroot አድን ቅኝት።
Name[ar]=ﺫﺎﻘﻧﻹ﻿ﺍ ﺕﻭﺮﻛ ﺢﺴﻣ
Name[bg]=Сканиране на Chroot Rescue
Name[bn]=ক্রুট রেসকিউ স্ক্যান
Name[ca]=Escaneig de rescat de Chroot
Name[ceb]=Pag-scan sa Pagluwas sa Chroot
Name[cy]=Sgan Achub Chroot
Name[es]=Escaneo de rescate de Chroot
Name[ga]=Scanadh Tarrthála Chroot
Name[gd]=Scan Teasairginn Chroot
Name[gu]=ક્રોટ રેસ્ક્યુ સ્કેન
Name[ha]=Binciken Ceto Chroot
Name[hi]=क्रोट रेस्क्यू स्कैन
Name[id]=Pemindaian Penyelamatan Chroot
Name[ja]=Chrootレスキュースキャン
Name[kn]=ಕ್ರೂಟ್ ಪಾರುಗಾಣಿಕಾ ಸ್ಕ್ಯಾನ್
Name[ko]=Chroot 구조 스캔
Name[lv]=Chroot glābšanas skenēšana
Name[mk]=Скенирање за спасување на Chroot
Name[ml]=Chroot റെസ്ക്യൂ സ്കാൻ
Name[mr]=Chroot बचाव स्कॅन
Name[ms]=Imbasan Penyelamat Chroot
Name[my]=Chroot ကယ်ဆယ်ရေးစကင်န်
Name[ne]=Chroot उद्धार स्क्यान
Name[nl]=Chroot Reddingsscan
Name[or]=କ୍ରୋଟ୍ ରେସକ୍ୟୁ ସ୍କାନ୍ |
Name[pa]=ਕ੍ਰੋਟ ਬਚਾਅ ਸਕੈਨ
Name[pl]=Skanowanie ratunkowe chroot
Name[ps]=ﻦﯿﮑﺳ ﻮﯿﮑﺴﯾﺭ ټﻭﺮﮐ ﺩ
Name[ru]=Восстановление Chroot
Name[rw]=Chroot Inkeragutabara
Name[sd]=ﻦﻴڪﺳﺍ ﻮﻴڪﺴﻳﺭ ٽﻭﺮڪ
Name[so]=Sawirka Samatabbixinta Chroot
Name[sq]=Skanimi i Shpëtimit Chroot
Name[sr]=Цхроот Ресцуе Сцан
Name[su]=Chroot Nyalametkeun Scan
Name[sw]=Utafutaji wa Uokoaji wa Chroot
Name[ta]=Chroot மீட்பு ஸ்கேன்
Name[te]=Chroot రెస్క్యూ స్కాన్
Name[tg]=Сканкунии наҷотдиҳии Chroot
Name[tk]=Chroot halas ediş skaneri
Name[tr]=Chroot Kurtarma Taraması
Name[tt]=Коткаруны сканерлау
Name[ug]=Chroot ﺵﻻ﻿ﺮﯩﻧﺎﻜﯩﺳ ﺵﯗﺯﯘﻘﺗﯘﻗ
Name[ur]=ﻦﯿﮑﺳﺍ ﻮﯿﮑﺴﯾﺭ ﭦﻭﺮﮐ
Name[vi]=Quét cứu hộ Chroot
Name[xh]=I-Chroot Rescue Scan
Name[yo]=Ayẹwo Igbala Chroot
Name[zh_CN]=Chroot 救援扫描
Name[zh_TW]=Chroot 救援掃描
Comment=Chroot into a Linux system in order to repair it
Comment[fr_BE]=Chroot « change + root » dans un système Linux afin de le réparer
Comment[pt_BR]=Utiliza o Chroot Rescue Scan para reparar uma instalação danificada de um sistema operacional GNU/Linux
Comment[de]=Chroot in ein Linux-System, um es zu reparieren
Comment[el]=Κάντε Chroot σε ένα σύστημα Linux για να το επιδιορθώσετε
Comment[it]=Chroot in un sistema Linux per ripararlo
Comment[hu]=Chrootoljon be egy Linux rendszerbe a javításhoz
Comment[af]=Chroot in 'n Linux-stelsel om dit te herstel
Comment[am]=ለመጠገን የሊኑክስ ሲስተም ውስጥ ክሩት ያድርጉ
Comment[ar]=Chroot ﻡﺎﻈﻧ ﻲﻓ Linux ﻪﺣﻼ﻿ﺻﻹ﻿
Comment[be]=Запусціце ў сістэму Linux, каб аднавіць яе
Comment[bg]=Извършете Chroot в Linux система, за да я поправите
Comment[bn]=এটি মেরামত করার জন্য একটি লিনাক্স সিস্টেমে ক্রুট করুন
Comment[bs]=Uključite se u Linux sistem da biste ga popravili
Comment[ca]=Chroot en un sistema Linux per reparar-lo
Comment[ceb]=Ang Chroot sa usa ka sistema sa Linux aron ayohon kini
Comment[co]=Chroot in un sistema Linux per riparà lu
Comment[cs]=Chrootujte do systému Linux, abyste jej mohli opravit
Comment[cy]=Torri i mewn i system Linux er mwyn ei atgyweirio
Comment[da]=Chroot ind i et Linux-system for at reparere det
Comment[eo]=Chroot en Linuksan sistemon por ripari ĝin
Comment[es]=Chroot en un sistema Linux para repararlo
Comment[et]=Chrootige selle parandamiseks Linuxi süsteemi
Comment[eu]=Chroot Linux sistema batean konpontzeko
Comment[fa]=ﺪﯾﻮﺷ ﺕﻭﺮﮐ ﺲﮐﻮﻨﯿﻟ ﻢﺘﺴﯿﺳ ﻪﺑ ﻥﺁ ﺮﯿﻤﻌﺗ ﯼﺍﺮﺑ
Comment[fi]=Chroot Linux-järjestelmään sen korjaamiseksi
Comment[fil]=Chroot sa isang Linux system para maayos ito
Comment[fr]=Chroot « change + root » dans un système Linux afin de le réparer
Comment[fy]=Chroot yn in Linux-systeem om it te reparearjen
Comment[ga]=Chroot isteach i gcóras Linux d’fhonn é a dheisiú
Comment[gd]=Chroot a-steach do shiostam Linux gus a chàradh
Comment[gl]=Chroot nun sistema Linux para reparalo
Comment[gu]=તેને સુધારવા માટે Linux સિસ્ટમમાં ક્રોટ કરો
Comment[ha]=Chroot cikin tsarin Linux don gyara shi
Comment[haw]=Chroot i loko o kahi ʻōnaehana Linux i mea e hoʻoponopono ai
Comment[he]=התוא ןקתל תנמ לע סקוניל תכרעמ ךותל טור'צ
Comment[hi]=इसे सुधारने के लिए Linux सिस्टम में क्रोट करें
Comment[hr]=Uključite se u Linux sustav kako biste ga popravili
Comment[ht]=Chroot nan yon sistèm Linux pou repare li
Comment[hy]=Chroot-ը Linux համակարգի մեջ՝ այն վերանորոգելու համար
Comment[id]=Chroot ke dalam sistem Linux untuk memperbaikinya
Comment[is]=Chroot inn í Linux kerfi til að gera við það
Comment[ja]=Linuxシステムを修復するためにchrootします
Comment[jv]=Chroot menyang sistem Linux kanggo ndandani
Comment[ka]=Chroot შევიდა Linux სისტემაში, რათა შეაკეთოთ იგი
Comment[kk]=Оны жөндеу үшін Linux жүйесіне Chroot жасаңыз
Comment[km]=Chroot ចូលទៅក្នុងប្រព័ន្ធលីនុច ដើម្បីជួសជុលវា។
Comment[kn]=ಅದನ್ನು ಸರಿಪಡಿಸಲು ಲಿನಕ್ಸ್ ಸಿಸ್ಟಮ್u200cಗೆ ಕ್ರೂಟ್ ಮಾಡಿ
Comment[ko]=복구하기 위해 Linux 시스템에 Chroot
Comment[ku]=Chroot nav pergalek Linux-ê da ku wê tamîr bikin
Comment[ky]=Аны оңдоо үчүн Linux тутумуна Chroot
Comment[lb]=Chroot an e Linux System fir et ze reparéieren
Comment[lo]=Chroot ເຂົ້າໄປໃນລະບົບ Linux ເພື່ອສ້ອມແປງມັນ
Comment[lt]=Įjunkite „Linux“ sistemą, kad ją pataisytumėte
Comment[lv]=Chroot Linux sistēmā, lai to labotu
Comment[mg]=Chroot ao anaty rafitra Linux mba hanamboarana azy
Comment[mi]=Chroot ki te punaha Linux hei whakatika
Comment[mk]=Chroot во Linux систем за да го поправите
Comment[ml]=അത് നന്നാക്കാൻ ഒരു Linux സിസ്റ്റത്തിലേക്ക് Chroot ചെയ്യുക
Comment[mn]=Үүнийг засахын тулд Линукс систем рүү Chroot хийнэ үү
Comment[mr]=ती दुरुस्त करण्यासाठी लिनक्स सिस्टममध्ये क्रुट करा
Comment[ms]=Chroot ke dalam sistem Linux untuk membaikinya
Comment[mt]=Chroot f'sistema Linux sabiex isewwiha
Comment[my]=၎င်းကိုပြုပြင်ရန်အတွက် Linux စနစ်သို့ Chroot လုပ်ပါ။
Comment[ne]=यसलाई मर्मत गर्न लिनक्स प्रणालीमा क्रुट गर्नुहोस्
Comment[nl]=Chroot in een Linux-systeem om het te repareren
Comment[nb]=Chroot inn i et Linux-system for å reparere det
Comment[ny]=Chroot mu Linux system kuti mukonze
Comment[or]=ଏହାକୁ ମରାମତି କରିବା ପାଇଁ ଏକ ଲିନକ୍ସ ସିଷ୍ଟମରେ କ୍ରୋଟ୍ କରନ୍ତୁ |
Comment[pa]=ਇਸਦੀ ਮੁਰੰਮਤ ਕਰਨ ਲਈ ਇੱਕ ਲੀਨਕਸ ਸਿਸਟਮ ਵਿੱਚ ਕ੍ਰੋਟ ਕਰੋ
Comment[pl]=Wykonaj chroot w systemie Linux, aby go naprawić
Comment[ps]=ﺊﺷړﻻ﻿ ﻪﺗ ﻢټﺴﯿﺳ ﺲﮑﻨﯿﻟ ﺩ ﻩﺭﺎﭙﻟ ﻮﻟﻮﮐ ﻢﯿﻣﺮﺗ ﯤﺩ ﺩ
Comment[pt]=Utilizar o chroot para reparar um sistema Linux danificado
Comment[ro]=Chroot într-un sistem Linux pentru a-l repara
Comment[ru]=Chroot в системе Linux для ее восстановления
Comment[rw]=Shira muri sisitemu ya Linux kugirango uyisane
Comment[sd]=ﻮﻳﺮڪ ٽﻭﺮڪ ۾ ﻢٽﺴﺳ ﺲڪﻨﻴﻟ ِءﻻ﻿ ﮠﺮڪ ﺖﻣﺮﻣ ﻲﮐ ﻥﺍ
Comment[si]=එය අලුත්වැඩියා කිරීම සඳහා ලිනක්ස් පද්ධතියකට ක්u200dරෝට් කරන්න
Comment[sk]=Chrootujte do systému Linux, aby ste ho opravili
Comment[sl]=Če želite popraviti sistem, vkrhnite v sistem Linux
Comment[sm]=Chroot i totonu o le Linux system ina ia toe faaleleia
Comment[sn]=Chroot muLinux system kuitira kuti igadzirise
Comment[so]=Geli nidaamka Linux si aad u hagaajiso
Comment[sq]=Chroot në një sistem Linux, me qëllim që ta riparoni
Comment[sr]=Укључите се у Линук систем да бисте га поправили
Comment[st]=Chroot ho sistimi ea Linux molemong oa ho e lokisa
Comment[su]=Chroot kana sistem Linux pikeun ngalereskeunana
Comment[sv]=Chroot in i ett Linux-system för att reparera det
Comment[sw]=Chroot kwenye mfumo wa Linux ili urekebishe
Comment[ta]=அதை சரிசெய்ய லினக்ஸ் அமைப்பில் க்ரூட் செய்யவும்
Comment[te]=దాన్ని రిపేర్ చేయడానికి Linux సిస్టమ్u200cలోకి క్రోట్ చేయండి
Comment[tg]=Chroot ба системаи Linux барои таъмири он
Comment[th]=Chroot เข้าสู่ระบบ Linux เพื่อซ่อมแซม
Comment[tk]=Ony bejermek üçin Linux ulgamyna giriň
Comment[tr]=Onarmak için bir Linux sistemine Chroot
Comment[tt]=Аны ремонтлау өчен Linux системасына керегез
Comment[ug]=ﯔﯨﺮﯩﻛ ﺎﻐﯩﺴﯩﻤﯧﺘﺴﯩﺳ ﺲﯩﻛﯘﻨﯩﻟ ﻥﯜﭼﯜﺋ ﺵﺎﺸﯕﻮﺋ ﻰﻧﯘﺋ
Comment[uk]=Завантажте систему Linux, щоб відновити її
Comment[ur]=۔ﮟﯾﺮﮐ ﻞﺧﺍﺩ ﮟﯿﻣ ﻢﭩﺴﺳ ﺲﮑﻨﯿﻟ ﮯﯿﻟ ﮯﮐ ﮯﻧﺮﮐ ﮏﯿﮭﭨ ﮯﺳﺍ
Comment[uz]=Uni tuzatish uchun Linux tizimiga Chroot qiling
Comment[vi]=Chroot vào hệ thống Linux để sửa chữa nó
Comment[xh]=Chroot kwisixokelelwano seLinux ukuze uyilungise
Comment[yi]=סע ןטכירראַפ וצ םעטסיס סקוניל אַ ןיא טאָאָרשט
Comment[yo]=Chroot sinu eto Linux lati le ṣe atunṣe
Comment[zh_CN]=chroot进入Linux系统以修复它
Comment[zh_TW]=chroot 進入 Linux 系統以修復它
GenericName=Chroot Rescue Scan
GenericName[pt_BR]=Reparador de Sistema Operacional Chroot Rescue Scan
GenericName[de]=»Chroot Rescue-Scan« Systemreparatur
GenericName[it]=Scansione di salvataggio di Chroot
GenericName[af]=Chroot-reddingskandering
GenericName[am]=Chroot አድን ቅኝት።
GenericName[ar]=ﺫﺎﻘﻧﻹ﻿ﺍ ﺕﻭﺮﻛ ﺢﺴﻣ
GenericName[bg]=Сканиране на Chroot Rescue
GenericName[bn]=ক্রুট রেসকিউ স্ক্যান
GenericName[ca]=Escaneig de rescat de Chroot
GenericName[ceb]=Pag-scan sa Pagluwas sa Chroot
GenericName[cy]=Sgan Achub Chroot
GenericName[es]=Escaneo de rescate de Chroot
GenericName[ga]=Scanadh Tarrthála Chroot
GenericName[gd]=Scan Teasairginn Chroot
GenericName[gu]=ક્રોટ રેસ્ક્યુ સ્કેન
GenericName[ha]=Binciken Ceto Chroot
GenericName[hi]=क्रोट रेस्क्यू स्कैन
GenericName[id]=Pemindaian Penyelamatan Chroot
GenericName[ja]=Chrootレスキュースキャン
GenericName[kn]=ಕ್ರೂಟ್ ಪಾರುಗಾಣಿಕಾ ಸ್ಕ್ಯಾನ್
GenericName[ko]=Chroot 구조 스캔
GenericName[lv]=Chroot glābšanas skenēšana
GenericName[mk]=Скенирање за спасување на Chroot
GenericName[ml]=Chroot റെസ്ക്യൂ സ്കാൻ
GenericName[mr]=Chroot बचाव स्कॅन
GenericName[ms]=Imbasan Penyelamat Chroot
GenericName[my]=Chroot ကယ်ဆယ်ရေးစကင်န်
GenericName[ne]=Chroot उद्धार स्क्यान
GenericName[nl]=Chroot Reddingsscan
GenericName[or]=କ୍ରୋଟ୍ ରେସକ୍ୟୁ ସ୍କାନ୍ |
GenericName[pa]=ਕ੍ਰੋਟ ਬਚਾਅ ਸਕੈਨ
GenericName[pl]=Skanowanie ratunkowe chroot
GenericName[ps]=ﻦﯿﮑﺳ ﻮﯿﮑﺴﯾﺭ ټﻭﺮﮐ ﺩ
GenericName[ru]=Скан. аварийного восст-ия Chroot
GenericName[rw]=Chroot Inkeragutabara
GenericName[sd]=ﻦﻴڪﺳﺍ ﻮﻴڪﺴﻳﺭ ٽﻭﺮڪ
GenericName[so]=Sawirka Samatabbixinta Chroot
GenericName[sq]=Skanimi i Shpëtimit Chroot
GenericName[sr]=Цхроот Ресцуе Сцан
GenericName[su]=Chroot Nyalametkeun Scan
GenericName[sw]=Utafutaji wa Uokoaji wa Chroot
GenericName[ta]=Chroot மீட்பு ஸ்கேன்
GenericName[te]=Chroot రెస్క్యూ స్కాన్
GenericName[tg]=Сканкунии наҷотдиҳии Chroot
GenericName[tk]=Chroot halas ediş skaneri
GenericName[tr]=Chroot Kurtarma Taraması
GenericName[tt]=Коткаруны сканерлау
GenericName[ug]=Chroot ﺵﻻ﻿ﺮﯩﻧﺎﻜﯩﺳ ﺵﯗﺯﯘﻘﺗﯘﻗ
GenericName[ur]=ﻦﯿﮑﺳﺍ ﻮﯿﮑﺴﯾﺭ ﭦﻭﺮﮐ
GenericName[vi]=Quét cứu hộ Chroot
GenericName[xh]=I-Chroot Rescue Scan
GenericName[yo]=Ayẹwo Igbala Chroot
GenericName[zh_CN]=Chroot 救援扫描
GenericName[zh_TW]=Chroot 救援掃描
