menubar, menu, menuitem {
    background-color: #f2f5ff;
    color: #000000;
}

menubar > menuitem:hover, menu > menuitem:hover {
    background-color: #e8edff;
    color: #000000 !important; /* !important заставляет шрифт быть черным */
}
