[Desktop Entry]
Name=Громкость
Version=1.0
Exec=pavucontrol-qt
Icon=/usr/share/applications/audio.png
StartupNotify=true
Type=Application
Categories=Qt;AudioVideo;Audio;Settings;DesktopSettings;
Name=Громкость
